.outset
  - form_for @flow_meter, :url => admin_flow_meters_path do |f|
    %table.index
      %thead
        %tr
          %th= t('vapor.catch_url')
          %th= t('vapor.redirect_url')
          %th= t('status')
          %th= t('vapor.action')
      %tbody
      - @flow_meters.each do |flow_meter|
        %tr
          %td= flow_meter.catch_url_for_display
          %td= flow_meter.redirect_url_for_display
          %td= flow_meter.status
          %td= link_to t('vapor.delete'), admin_flow_meter_path(flow_meter), :method => :delete
      %tr
        %td= f.text_field :catch_url, :value => params[:new_catch]
        %td= f.text_field :redirect_url
        %td= f.select :status, [t('vapor.http_statuses.307'), t('vapor.http_statuses.302'), t('vapor.http_statuses.301')].reverse
        %td= submit_tag t('vapor.create')
%p= t('vapor.description')
- if config['vapor.use_regexp'] == 'true'
  %p= t('vapor.description_for_regexp')
%p= t('vapor.description_for_external_redirect')