%h2 Redirects
- @flow_meters.each do |fm|
  %p= "#{fm.catch_url} => #{fm.redirect_url} #{fm.status}"
  %p= link_to "Delete #{fm.catch_url}", admin_flow_meter_path(fm), :method => :delete
- form_for @flow_meter, :url => admin_flow_meters_path do |fm|
  %p= fm.text_field :catch_url
  %p= fm.text_field :redirect_url
  %p= fm.text_field :status
  %p= submit_tag "Create"
%p hi